@import "https://fonts.googleapis.com/css?family=Roboto";

@mixin border($param) {
    border: $param;
}

html {
    height: 100%;

    body {
        background-color: #3E4659;
        font-family: 'Roboto', sans-serif;
        height: 100%;
    }

    .error-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .error-code {
            font-size: 100px;
            font-weight: bold;
            color: #CC6262;
        }

        .error-message {
            font-size: 50px;
            font-weight: bold;
            color: #35C4BA;
        }

        .error-homepage-button-wrapper {
            margin-top: 50px;

            a {
                text-decoration: none;

                .error-homepage-button {
                    font-weight: bold;
                    @include border(1px solid #35C4BA);
                    padding: 20px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    border-radius: 0;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: #35C4BA;
                        color: #FFFFFF;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    html {

        body {

            .error-wrapper {

                .error-code {
                    font-size: 80px;
                }

                .error-message {
                    font-size: 30px;
                }

                .error-homepage-button-wrapper {
                    margin-top: 40px;

                    a {

                        .error-homepage-button {
                            padding: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 767px) {
    html {

        body {

            .error-wrapper {

                .error-code {
                    font-size: 60px;
                }

                .error-message {
                    font-size: 20px;
                }

                .error-homepage-button-wrapper {
                    margin-top: 30px;

                    a {

                        .error-homepage-button {
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 480px) {
    html {

        body {

            .error-wrapper {

                .error-code {
                    font-size: 50px;
                }

                .error-message {
                    font-size: 15px;
                }

                .error-homepage-button-wrapper {
                    margin-top: 20px;

                    a {

                        .error-homepage-button {
                            padding: 7px;
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}