@model int

@{
    Layout = null;
    string message = "";

    switch (Model)
    {
        case 400:
            message = "Bad request: The request cannot be fulfilled due to bad syntax";
            break;
        case 403:
            message = "Forbidden";
            break;
        case 404:
            message = "Page not found";
            break;
        case 408:
            message = "The server timed out waiting for the request";
            break;
        case 500:
            message = "Internal Server Error - server was unable to finish processing the request";
            break;
        default:
            message = "That’s odd... Something we didn't expect happened";
            break;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FirmManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/error.css" />
</head>
<body>
    <div class="error-wrapper">
        <div class="error-code">
            @Model
        </div>
        <div class="error-message">
            @message
        </div>
        <div class="error-homepage-button-wrapper">
            <a asp-controller="Home" asp-action="Index">
                <span class="error-homepage-button">Go to homepage</span>
            </a>
        </div>
    </div>
</body>
</html>